@mixin styles {
  /* Catppuccin Latte - Framework color */
  --main-bg: #eff1f5;
  --mask-bg: #acb0be;
  --main-border-color: #dce0e8;

  /* Common color */
  --text-color: #4c4f69;
  --text-muted-color: #6c6f85;
  --text-muted-highlight-color: inherit;
  --heading-color: #4c4f69;
  --label-color: #5c5f77;
  --blockquote-border-color: #ccd0da;
  --blockquote-text-color: #6c6f85;
  --link-color: #1e66f5;
  --link-underline-color: #9ca0b0;
  --button-bg: #eff1f5;
  --btn-border-color: #dce0e8;
  --btn-backtotop-color: #5c5f77;
  --btn-backtotop-border-color: #dce0e8;
  --checkbox-color: #9ca0b0;
  --checkbox-checked-color: #1e66f5;
  --img-bg: radial-gradient(circle, #eff1f5 0%, #e6e9ef 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(239, 241, 245, 0) 0%,
    rgba(172, 176, 190, 0.6) 50%,
    rgba(239, 241, 245, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #7c7f93;
  --site-subtitle-color: #6c6f85;
  --sidebar-bg: #e6e9ef;
  --sidebar-border-color: #dce0e8;
  --sidebar-muted-color: #6c6f85;
  --sidebar-active-color: #4c4f69;
  --sidebar-hover-bg: #ccd0da;
  --sidebar-btn-bg: #eff1f5;
  --sidebar-btn-color: #8c8fa1;
  --avatar-border-color: #7c7f93;

  /* Topbar */
  --topbar-bg: rgba(239, 241, 245, 0.7);
  --topbar-text-color: #4c4f69;
  --search-border-color: #ccd0da;
  --search-icon-color: #9ca0b0;
  --input-focus-border-color: #8c8fa1;

  /* Home page */
  --post-list-text-color: #4c4f69;
  --btn-patinator-text-color: #5c5f77;
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: #1e66f5;
  --toc-popup-border-color: #bcc0cc;
  --btn-share-color: #7c7f93;
  --btn-share-hover-color: #1e66f5;
  --card-bg: #eff1f5;
  --card-hovor-bg: #dce0e8;
  --card-shadow: rgba(76, 79, 105, 0.08) 0 2px 6px 0,
    rgba(108, 111, 133, 0.12) 0 0 0 1px;
  --footnote-target-bg: #b7e0ff;
  --tb-odd-bg: #e6e9ef;
  --tb-border-color: #dce0e8;
  --dash-color: #acb0be;
  --kbd-wrap-color: #9ca0b0;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: #eff1f5;
  --prompt-text-color: rgba(76, 79, 105, 0.75);
  --prompt-tip-bg: rgba(64, 160, 43, 0.1);
  --prompt-tip-icon-color: #40a02b;
  --prompt-info-bg: rgba(30, 102, 245, 0.1);
  --prompt-info-icon-color: #1e66f5;
  --prompt-warning-bg: rgba(223, 142, 29, 0.1);
  --prompt-warning-icon-color: #df8e1d;
  --prompt-danger-bg: rgba(210, 15, 57, 0.1);
  --prompt-danger-icon-color: #d20f39;

  /* Tags */
  --tag-border: #ccd0da;
  --tag-shadow: var(--btn-border-color);
  --tag-hover: #bcc0cc;
  --search-tag-bg: #e6e9ef;

  /* Categories */
  --categories-border: rgba(76, 79, 105, 0.12);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: #4c4f69;

  /* Archive */
  --timeline-color: rgba(76, 79, 105, 0.1);
  --timeline-node-bg: #9ca0b0;
  --timeline-year-dot-color: #eff1f5;

  /* --- Catppuccin Latte Custom code colors --- */
  --language-border-color: #dce0e8;
  --highlight-bg-color: #e6e9ef;
  --highlighter-rouge-color: #1e66f5;
  --highlight-lineno-color: #8c8fa1;
  --inline-code-bg: rgba(30, 102, 245, 0.1);
  --code-color: #4c4f69;
  --code-header-text-color: #8c8fa1;
  --code-header-muted-color: #dce0e8;
  --code-header-icon-color: #bcc0cc;
  --clipboard-checked-color: #40a02b;

  [class^='prompt-'] {
    --link-underline-color: #9ca0b0;
  }

  .dark {
    display: none;
  }

  /* --- Catppuccin Latte Syntax Highlighting --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #4c4f69;
    background-color: #e6e9ef;
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: #8839ef;
  }

  .highlight .gr {
    color: #d20f39;
  }

  .highlight .gd {
    color: #d20f39;
    background-color: rgba(210, 15, 57, 0.1);
  }

  .highlight .nb {
    color: #fe640b;
  }

  .highlight .nc {
    color: #df8e1d;
  }

  .highlight .no {
    color: #fe640b;
  }

  .highlight .nn {
    color: #df8e1d;
  }

  .highlight .sr {
    color: #40a02b;
  }

  .highlight .na {
    color: #1e66f5;
  }

  .highlight .nt {
    color: #8839ef;
  }

  .highlight .gi {
    color: #40a02b;
    background-color: rgba(64, 160, 43, 0.1);
  }

  .highlight .kc {
    color: #fe640b;
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #fe640b;
  }

  .highlight .sb {
    color: #40a02b;
  }

  .highlight .bp {
    color: #d20f39;
  }

  .highlight .ne {
    color: #d20f39;
  }

  .highlight .nl {
    color: #1e66f5;
  }

  .highlight .py {
    color: #df8e1d;
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: #d20f39;
  }

  .highlight .o,
  .highlight .ow {
    color: #04a5e5;
  }

  .highlight .gh {
    color: #1e66f5;
    font-weight: bold;
  }

  .highlight .gu {
    color: #04a5e5;
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: #40a02b;
  }

  .highlight .nd {
    color: #ea76cb;
  }

  .highlight .nf,
  .highlight .fm {
    color: #1e66f5;
  }

  .highlight .err {
    color: #d20f39;
    background-color: transparent;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #6c6f85;
    font-style: italic;
  }

  .highlight .gl {
    color: #6c6f85;
  }

  .highlight .gt {
    color: #6c6f85;
  }

  .highlight .ni {
    color: #4c4f69;
  }

  .highlight .si {
    color: #ea76cb;
  }

  .highlight .ge {
    font-style: italic;
  }

  .highlight .gs {
    font-weight: bold;
  }

  .highlight .gp {
    color: #8c8fa1;
  }
}
